@mixin push--auto() {
  margin: {
   left: auto;
   right: auto;
  }
}
@mixin pseudo ($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin size($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
}
