@mixin push--auto() {
  margin: {
   left: auto;
   right: auto;
  }
}
@mixin pseudo ($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}
@mixin fontSans() {
 font-family: 'PT Sans',"Arial",sans-serif;
}
@mixin fontVerdana() {
 font-family: 'Verdana',"Arial",sans-serif;
 font-weight: normal;
}
@mixin fontVerdanaBold() {
 font-family: 'Verdana Bold',"Arial",sans-serif;
 font-weight: bold;
}
@mixin size($width: 50px, $height: 50px) {
  width: $width;
  height: $height;
}
