*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@import 'fonts.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'scaffolding.scss';
@import 'blocks/btn.scss';
// blocks
