$colorSmoky: #f9f9f9;
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$border1: #ececec;


$mobile: "max-width: 767px";
$tablet: "min-width: 768px";
$desktop: "min-width: 1150px";

$heightMenuItem: 78px;
